%iframe{:src=>"//www.facebook.com/plugins/like.php?href&amp;send=#{send}&amp;layout=#{layout}&amp;width=#{width}&amp;show_faces=#{show_faces}&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=#{height}", :scrolling=>"no", :frameborder=>"0", :allowTransparency=>"true"}
